<tr>
  {{#each processedColumns as |column|}}
    {{#if column.isVisible}}
      <th class="{{classes.theadCell}} {{unless column.useFilter classes.theadCellNoFiltering}}">
        {{#if column.templateForFilterCell}}
          {{partial column.templateForFilterCell}}
        {{else}}
          {{#if column.componentForFilterCell}}
            {{component column.componentForFilterCell data=data column=column row=record table=this}}
          {{else}}
            {{#if column.useFilter}}
              <div class="{{if column.filterUsed "has-feedback"}}">
                {{#if column.filterWithSelect}}
                  {{models-select options=column.filterOptions cssPropertyName=column.cssPropertyName value=column.filterString class=(concat classes.input " changeFilterForColumn")}}
                {{else}}
                  {{input type="text" value=column.filterString class=classes.input enter="" placeholder=column.filterPlaceholder}}
                {{/if}}
              </div>
            {{else}}
              &nbsp;
            {{/if}}
          {{/if}}
        {{/if}}
      </th>
    {{/if}}
  {{/each}}
</tr>
