@import "ember-bootstrap/bootstrap";

body {
  padding: 0 5vw;
}

header {
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
  padding: 1rem 0;

  img {
    max-width: 200px;
  }
}

.product {
  margin-bottom: 2.5rem;

  h1.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  table.table {
    font-size: 0.8rem;
  }

  .table-header {
    cursor: pointer;
  }
}

@import "ember-bootstrap/bootstrap";
