<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bonobos Inventory</title>
    <meta name="description" content="A simple inventory app">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/frontend.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    <header class="row justify-content-center">
      <img src="/assets/images/logo.svg" alt="Bonobos Inventory" class="logo"/>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{content-for "body"}}
        </div>
      </div>
    </div>

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/frontend.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
