<div class="product">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-4">
			<img src={{product.productImage}} alt={{product.productName}}>
		</div>
		<div class="col-sm-11 col-md-8">
			<div>
				<h1 class="title">{{product.productName}}</h1>
				<p class="description">{{product.productDescription}}</p>
			</div>
			<div>
				{{models-table
					data=inventories
					columns=columns
					customIcons=customIcons
					customClasses=customClasses
					showColumnsDropdown=false
					showGlobalFilter=false
					showPageSize=false}}
			</div>
		</div>
	</div>
</div>
